<nav class="navbar navbar-expand-sm navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Testing Framework</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID" aria-controls="navbarID"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarID">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/">Dashboard</a>
        <a class="nav-link active" routerLink="/flow2">Flow 2</a>
        <a class="nav-link active" routerLink="/document-list">document-list</a>
        <a class="nav-link active" routerLink="/document">documents</a>
      </div>
    </div>
  </div>
</nav>
